.item-asset,
.item-group {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;
  object-position: center;

  border: 4px solid;
}

.item-asset {
  border-color: var(--purple);
}

.item-group {
  border-color: var(--gallery-folder-border);
}

.gallery-item {
  display: block;

  margin: 5% 10%;

  max-height: 290px;

  user-select: none;
}

