:root{
  --tag-background: #241f2d;
  --tag-border: #40364f;
  
  --tag-background-hover: #352c43;
  --tag-border-hover: #71598f;

  --counter-background: #260746;
  --counter-border: rgb(96, 94, 94);

  --text-h: #d2d1d1;
  --text-count: #e8e8e8;

  --tag-input-autocomplete-background: rgba(29, 26, 34, 0.85);
  --tag-input-autocomplete-background-selected: rgba(101, 66, 23, 0.7);
}


.tag-type {

}

.tag-type.author-tag {
  color: rgb(193, 38, 14);
}

.tag-type.character-tag {
  color: rgb(0, 178, 0);
}

.tag-type.source-tag {
  color: rgb(184, 0, 184);
}

.tag-type.general-tag {
  color: rgb(225, 225, 225);
}