:root {
  /* =========================================================
     Theme
     ========================================================= */

  --text: #d4d4dc;
  --text-h: #ffffff;

  --bg: #250d49;

  --gradient-start: rgb(58, 75, 102);
  --gradient-end: rgb(37, 13, 73);

  --bg-gradient: linear-gradient(
    180deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );


  /* =========================================================
     Fonts
     ========================================================= */

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  /* =========================================================
     Global
     ========================================================= */

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  --page-side-maring: 0.75rem;

  color: var(--text);
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}